<nav class="col-md-2 d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="dashboard.html">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="sanpham.html">Sản Phẩm</a></li>
            <li class="nav-item"><a class="nav-link" href="tonkho.html">Tồn Kho</a></li>
            <li class="nav-item"><a class="nav-link" href="nhapkho.html">Nhập Kho</a></li>
            <li class="nav-item"><a class="nav-link" href="xuatkho.html">Xuất Kho</a></li>
            <li class="nav-item"><a class="nav-link" href="doitra.html">Đổi Trả</a></li>
            <li class="nav-item"><a class="nav-link" href="kiemke.html">Kiểm Kê</a></li>
            <li class="nav-item"><a class="nav-link" href="baocao.html">Báo Cáo</a></li>
        </ul>
    </div>
</nav>